.projects {
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3.4rem 0 3.1rem 0;
}

.projects_container {
  width: 75%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.projects_container td {
  padding: 2rem;
}

.link {
  align-self: flex-start;
  color: var(--dark-green);
  text-decoration: none;
}

.link:hover {
  color: var(--light-green);
}